#S12_Patient_Satisfaction .background {
  display: none;
  position: absolute;
}
#S12_Patient_Satisfaction .background.active {
  display: block;
}
#S12_Patient_Satisfaction .buttons {
  display: flex;
  position: absolute;
  top: 52rem;
  left: 2.2rem;
  width: 95%;
  z-index: 10;
}
#S12_Patient_Satisfaction .button {
  width: 6rem;
  height: 6rem;
  margin-left: 8.5rem;
}
#S12_Patient_Satisfaction .button:first-of-type {
  margin-left: 0;
}
