#S14_Device_005 .background {
  display: none;
  position: absolute;
}
#S14_Device_005 .background.active {
  display: block;
}
#S14_Device_005 .buttons {
  display: flex;
  position: absolute;
  top: 52rem;
  left: 4rem;
  width: 91%;
  z-index: 10;
}
#S14_Device_005 .button {
  width: 6rem;
  height: 6rem;
  margin-left: 12rem;
}
#S14_Device_005 .button:first-of-type {
  margin-left: 0;
}
