[data-module="ag-menu"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.8vh;
  background-color: white;
  z-index: 100;
}
[data-module="ag-menu"].hidden {
  display: none;
}

[data-module="ag-menu"] .menu {
  display: flex;
  justify-content: center;
  height: auto;
  margin: -1.2vh 0 0;
  padding: 0 2.5rem 0 2.5%;
}
[data-module="ag-menu"] .menu li {
  display: inline-block;
  width: auto;
  height: 6vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 1rem/1em sans-serif;
  background: transparent url(assets/buttons.png) top left no-repeat;
  background-size: auto 12vh;
}
[data-module="ag-menu"] .menu .menu-tab {
  width: 5.6%;
}
[data-module="ag-menu"] .menu li[data-section="Subcutaneous"] {
  width: 17.5%;
  background-position-x: 0;
}
[data-module="ag-menu"] .menu li[data-section="RA"] {
  width: 9%;
  background-position-x: 19%;
}
[data-module="ag-menu"] .menu li[data-section="Device"] {
  width: 11.5%;
  background-position-x: 30%;
}
[data-module="ag-menu"] .menu li[data-section="Patient_Satisfaction"] {
  width: 23%;
  background-position-x: 49.5%;
}
[data-module="ag-menu"] .menu li[data-section="Summary"] {
  width: 13.5%;
  background-position-x: 86.5%;
}
[data-module="ag-menu"] .menu .pi-toggle {
  background-position-x: 94.3%;
}
[data-module="ag-menu"] .menu .references-toggle {
  background-position-x: 100.9%;
}
[data-module="ag-menu"] .menu li.selected {
  background-position-y: bottom;
}